.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 235, 233, 255);
    border-radius: 5px;
    width: 22rem;
    height: 23rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: url("https://media.tenor.com/UjVt3LyF9aIAAAAi/hearts-love.gif");
    background-size: cover;
    font-size: 1.4rem;
}

.close-btn {
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

.modal-dog-img {
    border-radius: 50%;
    height: 12rem;
    width: 13rem;
    margin-top: 1.5rem;
    border: 2px dotted pink;
}

@media only screen and (max-width: 767px) {
    .modal-content {
        width: 18rem;
        height: 19rem;
        font-size: 1.2rem;
    }

    .close-btn {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .modal-dog-img {
        height: 10rem;
        width: 11rem;
        margin-top: 1.8rem;
    }

}