.nav {
  background-size: 10%;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;

}

.nav-links a {
  margin: 0 10px;
  font-size: 18px;
}

nav {
  text-decoration: none;
}