@import 'tailwindcss/base';
/* @import 'tailwindcss/components'; */
/* @import 'tailwindcss/utilities'; */

@font-face {
  font-family: 'Total';
  src: url('assets/Font/LittlemomentRegular-OVneP.otf') format('truetype');
}

body {
  font-family: Total;
}