.create-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.wallpapersafari.com/34/65/oxEy0h.jpg");
  background-size: cover;
  overflow: auto;
}

.form-create textarea,
.form-create input {
  width: 28.5rem;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
}

.form-create {
  align-self: center;
  padding: 2rem;
  width: 40rem;
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-create h3 {
  text-align: center;
  font-weight: bold;
}

.form-create form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}


.form-create form button {
  width: 20%;
  height: 20%;
  margin: 1rem auto;
}

span {
  font-weight: bold;
  font-size: .8rem;
}

@media only screen and (max-width: 768px) {
  .form-create {
    width: 20rem;
  }  

  .form-create form input {
    font-size: .8rem;
  }

  .form-create textarea {
    width: 100%; 
    font-size: 0.8rem; 
  }

  .create-title {
    font-size: 1rem;
  }
}
