@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap');

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6em 1em;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.form-create {
  align-self: center;
  padding: 1em;
  width: 80%;
  height: 0%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-create .danger {
  background: #dc4c4c;
}

.form-create h3 {
  text-align: center;
}

.form-create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 85%;
}

.form-create form input {
  width: 80%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

.form-create form input:focus,
.form-create form input:active {
  border: 2px solid #cbc9c0cd;
}

.form-create form input:valid {
    border: 1px solid #625858;
    border-radius: 20px;
}

.form-create form button {
  width: 10%;
  height: 20%;
  margin: 1em auto;
  background: #434241cd;
  border: none;
}

.personality-trait {
  font-size: 1rem;
}

