/* Create.css */

.create-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.wallpapersafari.com/34/65/oxEy0h.jpg");
  background-size: cover;
  overflow: hidden;
}

.form-create {
  align-self: center;
  padding: 1rem;
  width: 40rem;
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-create h3 {
  text-align: center;
  font-weight: bold;
}

.form-create form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.form-create form input {
  width: 80%;
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

.form-create form input:valid {
  border: 1px solid black;
}

.form-create form button {
  width: 20%;
  height: 20%;
  margin: 1rem auto;
  background: silver;
  border: none;
}

