.signup-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBgFinal.jpeg");
  background-size: cover;
  overflow: auto;
  padding-top: 3rem;
}

.form-signup {
  padding: 2rem;
  max-width: 22rem;
  width: 80%;
  height: auto;
  margin: 2.5rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-signup form input {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  outline: none;
  
}

.form-signup form button {
  width: 6rem;
  height: 3rem;
  margin: 1rem auto;
  background: #cbc9c0cd;

  border-radius: 0.7rem;
}

.form-signup form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.form-group {
  text-align: center;
}

.error-message {
  text-align: center;
  font-size: 0.6rem; /* Set the font size for error messages */
}

/* .password-toggle-btn-container {
  position: sticky;
 
  transform: translateX(-50%);
} */

/* .password-toggle-btn-container {
  position: relative;
  display: flex;
  top: 10rem;
  align-items: center;
  justify-content: center;
}

.password-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

/* .eye-icon {
  font-size: 1.5rem;
} */


.signupPmLogo {
  width: 12rem;
}

.login-nav-link {
  font-size: 1rem;
  padding-top: 2rem;
}

.signup-a-tag:hover {
  color: tan;
}

.signup-a-tag {
  font-weight: bold;
}

