@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap");

.form-signup {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-signup .danger {
  background: #e57373;
}

.form-signup h3 {
  text-align: center;
}

.form-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-signup form input {
  width: 85%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

.form-signup form input:focus,
.form-signup form input:active {
  border: 2px solid #cbc9c0cd;
}

.form-signup form input:valid {
  border: 2px solid #66bb6a;
}

.form-signup form button {
  width: 50%;
  margin: 1em auto;
  background: #cbc9c0cd;
  border: none;
}

.form-signup form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.form-signup form label {
  margin-top: 0.6em;
}
