/* Assuming the base font-size is set to 16px */

.signup-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBg.jpeg");
  background-size: cover;
  overflow: hidden;
}

.form-signup {
  align-self: center;
  padding: 1rem;
  width: 40rem; /* Converted to rem */
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: .7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-signup form {
  margin: auto;
  padding-top: 5rem;
  width: 80%;
  text-align: center;
  
}

.form-signup form input {
  width: 85%;
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem; /* Converted to rem */
  border: 0.1rem solid black;
  outline: none;
  transition: all 0.4s ease;
}

.form-signup form button {
  width: 6rem;
  height: 3rem;
  margin: 1rem auto;
  background: #cbc9c0cd;
  border: none;
}

.form-signup form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .form-signup {
    width: 90%;
  }
}
