.create-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBgFinal.jpeg");
  background-size: cover;
  overflow: auto;
  padding-top: 4.5rem;
}

.form-create textarea,
.form-create input {
  width: 20rem;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
  font-size: .9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-create {
  align-self: center;
  background-color: rgba(236, 235, 233, 255);
  padding: 1rem;
  width: 25rem;
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.character-count {
  font-size: .6rem;
  position: absolute;
  display: block;
  bottom: 2em;
  right: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Rest of the styles unchanged */

.custom-dropdown {
  position: relative;
  width: 20rem;
}

.custom-dropdown select {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  appearance: none;
  background-size: 1.5rem;
}

.custom-dropdown select option {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-dropdown select option:disabled {
  color: #999;
}

/* Rest of the styles unchanged */


.text-area-label {
  position: relative;
}

.image-btn {
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 20rem;
  height: 2.4rem;
  background: #cbc9c0cd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create-submit-btn {
  background: silver;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 5.5rem;
  height: 2.5rem;
  margin: auto;
  margin-top: 1rem;
  background: #cbc9c0cd;
  border-radius: 0.7rem;
}

.image-btn:hover,
.create-submit-btn:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.error-msg {
  font-size: .7rem;
  text-align: center;
}

.form-create h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form-create form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {

  .create-container {
    padding-top: 1rem;
  }

  .form-create textarea,
  .form-create input {
    width: 16rem;
  }

  .form-create {
    width: 20rem;
  }

  .character-count {
    padding-left: 13.2rem;
    padding-top: 17rem;
  }

  .image-btn {
    width: 16rem;
    font-size: .9rem;
  }

  .create-submit-btn {
    font-size: .8rem;
    width: 7rem;
    height: 2rem;
  }

  .custom-dropdown {
    position: relative;
    width: 16rem;
  }

}