/* Login.css */
.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.wallpapersafari.com/34/65/oxEy0h.jpg");
  background-size: cover;
  overflow: hidden;
}

 .pmLogo img {
  max-height: 150%;
}

.form-signin {
  align-self: center;
  padding: 2rem;
  width: 80%; 
  width: 23rem;
  height: 60vh;
  margin: 2.5rem auto;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

.pmLogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
}

.form-signin form input {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border: 0.1rem solid black;
  transition: all 0.4s ease;
  outline: none;
}

.form-signin form button {
  width: 6rem;
  height: 3rem;
  margin: 1rem auto;
  background: #cbc9c0cd;
  border: none;
  border-radius: 0.6rem;

}

.form-signin form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 768px) {
  .login-container {
    height: 100vh;
    width: 100vw;
    background-image: url("https://cdn.wallpapersafari.com/34/65/oxEy0h.jpg") !important;
    background-size: cover;
    overflow: hidden;
  }

.form-signin {  
  width: 20rem;

}
}
