/* Login.css */
.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBg.jpeg");
  background-size: cover;
  overflow: hidden;
}

.form-login {
  align-self: center;
  padding: 2rem;
  width: 23rem;
  height: 60vh;
  margin: 2.5rem auto;
  border: 0.2rem solid black;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pmLogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-login form input {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  transition: all 0.4s ease;
  outline: none;
}

.form-login form button {
  width: 6rem;
  height: 3rem;
  margin: 1rem auto;
  background: #cbc9c0cd;
  border: none;
}

.form-login form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .form-login {
    width: 20rem;
  }
}
