.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBgFinal.jpeg");
  background-size: cover;
  overflow: auto;
  padding-top: 6rem;
}

.password-input-container {
  position: relative;
}

.form-login {
  background-color: rgba(236, 235, 233, 255);
  padding: 2rem;
  max-width: 20rem;
  width: 90%;
  height: auto;
  margin: 2.5rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login form {
  display: flex;
  flex-direction: column;
}

.form-login form input {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-login form button {
  width: 6rem;
  height: 3rem;
  margin: auto;
  background: #cbc9c0cd;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

.form-login form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.form-login form .password-toggle-btn {
  position: absolute;
  display: inline-flex;
  transform: translateX(-100%);
  background-color: transparent;
  width: auto;
  padding: 1em;
  margin: 0.5em 0;
}

.form-login form .password-toggle-btn:hover {
  box-shadow: initial;
}

.login-error-message {
  font-size: 0.7rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.loginPmLogo {
  width: 12rem;
}

.signup-nav-link {
  font-size: 1rem;
  padding-top: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.signup-a-tag:hover {
  color: rgba(253, 216, 184, 255);
}

.signup-a-tag {
  padding-left: .4rem;
  font-weight: bold;
}

/* The media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .form-login {
    width: 68%;
    height: 68%;
  }

  .login-container {
    padding-top: 3rem;
  }

  .signup-nav-link {
    padding-top: 1rem;
    font-size: .8rem;
  }

  .form-login form button {
    width: 5rem;
    height: 2.5rem;
  }

  .form-login form input {
    font-size: .8rem;
  }

  .form-login form .password-toggle-btn {
    padding: .9em;
    font-size: .8rem;
    padding: 1em;
    margin: 0.8em .1rem;

  }


}