.homepage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/dogBgFinal.jpeg");
  height: 90vh;
  overflow: auto;
}

.homepage-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
}

.dog-container {
  background-color: rgba(236, 235, 233, 255);
  text-align: center;
  border-radius: 5%;
  box-shadow: 0.2rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  z-index: 2;
  min-width: 30rem; /* Use min-width instead of max-width */
  margin-bottom: 2rem;
  height: 90vh;
}

.dog-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dislike-button,
.like-button {
  background-image: url("../../assets/dog-bone.png");
  background-color: transparent;
  width: 7rem;
  height: 7rem;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  font-weight: bold;
}

.dislike-button {
  margin-right: 5rem; 
}

.like-button {
  margin-left: 2rem; 

}

.homepage-dog-image {
  display: block;
  height: 18rem;
  width: 23rem;
  max-width: 30rem;

  /* border: 0.3rem solid black; */
  border-radius: 5%;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.homepage-description {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: .85rem;
  max-width: 30rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-page-dog-name {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {



}