.dog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFDB59;
  height: 91vh;
  overflow: hidden;
}

.dog-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dislike-button,
.like-button {
  background-image: url("../../assets/dog-bone.png");
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  font-weight: bold;
}

.dislike-button {
  margin-right: 5rem; 
}

.like-button {
  margin-left: 2rem; 

}

.homepage-dog-image {
  display: block;
  height: 22rem;
  width: 30rem;
  border: 0.3rem dotted white;
  border-radius: 50%;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.homepage-description {
  text-align: center;
  font-size: 1rem;
  max-width: 40rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-page-dog-name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  font-family: cursive;
}

@media only screen and (max-width: 768px) {

.dog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFDB59;
  overflow: hidden;
}

.homepage-dog-image {
  display: block;
  height: 17rem;
  width: 19rem;
  border: 0.3rem dotted white;
  border-radius: 50%;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.home-page-dog-name {
  font-size: 1.5rem;
}

.dislike-button,
.like-button {
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  font-size: .7rem;
}

.homepage-description {
  font-size: .8rem;
  max-width: 20rem;
}
}