.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.update-profile {
    margin-top: 10px;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.6em 1em;
    border-radius: 3px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.delete-profile {
    margin-top: 10px;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.6em 1em;
    border-radius: 3px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.profile-dog-name {
    margin-top: 10px;
    text-align: center;
}

.header-container {
    text-align: center;
}
