.edit-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBgFinal.jpeg");
  background-size: cover;
  overflow: auto;
}

.form-edit {
  align-self: center;
  padding: 2rem;
  width: 30rem;
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(236, 235, 233, 255);
}

.form-edit h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

.form-edit form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.form-edit form input:valid {
  border: 1px solid black;
}

.form-edit form input[type="text"],
.form-edit form textarea {
  width: 25rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-length {
  font-size: .6rem;
  position: absolute;
  display: block;
  bottom: 1.5em;
  right: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.age-container {
  width: 25rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-edit textarea {
  resize: none;
  min-height: 100px;
}

.form-edit .btn {
  width: 6rem;
  height: 3rem;
  margin: auto;
  background: #cbc9c0cd;
  border-radius: 0.7rem;
  cursor: pointer;
}

.form-edit .btn:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.edit-error-msg {
  font-size: 0.7rem;
  text-align: center;
}

.image-label {
  width: 25rem;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f0f0f0;
}

.current-image {
  max-width: 10rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

#file-input {
  display: none;
}

@media only screen and (max-width: 768px) {
  .form-edit {
    align-self: center;
    padding: 1.5rem;
    width: 18rem;
    margin: 3rem auto;
  }

  .form-edit h3 {
    padding-bottom: 1rem;
  }

  .age-container {
    font-size: 0.7rem;
    width: 14rem;
  }

  .form-edit form input[type="text"],
  .form-edit form textarea {
    font-size: 0.7rem;
    width: 14rem;
  }

  .form-edit .btn {
    width: 5.5rem;
    height: 2.8rem;
    margin: auto;
    background: #cbc9c0cd;
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
  }

  .image-label {
    padding: 0.6rem 1rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
  }
}