.homepage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/dogBgFinal.jpeg");
  height: 90vh;
  overflow: auto;
}

.homepage-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.dog-container {
  background-color: rgba(236, 235, 233, 255);
  text-align: center;
  border-radius: 5%;
  box-shadow: 0.2rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: .35rem;
  max-width: 28rem;
  width: 28rem;
  height: 87vh;
  z-index: 1;
}

.dog-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dislike-button,
.like-button {
  background-image: url("../../assets/dog-bone.png");
  background-color: transparent;
  width: 7.5rem;
  height: 7.5rem;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  font-weight: bold;
  padding-top: .3rem;
}

.dislike-button {
  margin-right: 5rem;
}

.like-button {
  margin-left: 2rem;
}

.homepage-dog-image {
  display: block;
  height: 17rem;
  width: 22rem;
  max-width: 30rem;
  border-radius: 5%;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.homepage-description {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: .85rem;
  max-width: 30rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-page-dog-name {
  font-size: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {

  .homepage-dog-image {
    height: 11rem;
    width: 15rem;
  }

  .home-page-dog-name {
    font-size: 1.5rem;
  }

  .dislike-button,
  .like-button {
    width: 6rem;
    height: 6rem;
    font-size: 0.7rem;
  }

  .dislike-button {
    margin-right: 1rem;
  }

  .homepage-description {
    font-size: 0.8rem;
    max-width: 27rem;
  }

  .homepage-container {
    height: 85vh;
  }

  .dog-container {
    min-width: auto;
    width: 85%;
    height: 80%;
    margin-top: 1rem;

  }
}