.nav-container {
  position: relative;
}

.nav {
  opacity: 0.9;
  height: 5.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: bold;
  background-color: rgba(236, 235, 233, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
  align-items: center;
  border-radius: 1rem;
}

a {
  align-content: center;
  text-align: center;
}

.navPmLogo {
  position: absolute;
  height: 6rem;
  width: 6rem;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
  .nav {
    height: 4rem;
    font-size: 0.6rem;
    padding-top: .2rem;
    padding-left: 4rem;
  }

  .nav a {
    padding: .4rem .7rem;
    margin: .4rem .4rem;
  }

  .navPmLogo {
    height: 4rem;
    width: 4rem;
    left: 0rem;
  }
}