.signup-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/dogBgFinal.jpeg");
  background-size: cover;
  overflow: auto;
  padding-top: 1rem;
}

.form-signup {
  background-color: rgba(236, 235, 233, 255);
  padding: 2rem;
  max-width: 20rem;
  width: 93%;
  height: auto;
  margin: 2.5rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup form {
  display: flex;
  flex-direction: column;
}

.form-signup form input {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-signup form button {
  width: 6rem;
  height: 3rem;
  margin: auto;
  background: #cbc9c0cd;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

.form-signup form button:hover {
  box-shadow: 0.3rem 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.form-signup form .password-toggle-btn {
  position: absolute;
  display: inline-flex;
  transform: translateX(-100%);
  background-color: transparent;
  width: auto;
  padding: 1em;
  margin: 0.5em 0;
}

.form-signup form .password-toggle-btn:hover {
  box-shadow: initial;
}

.signup-error-message {
  font-size: 0.7rem;
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
}

.signupPmLogo {
  width: 12rem;
}

.login-nav-link {
  font-size: 1rem;
  padding-top: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-a-tag:hover {
  color: rgba(253, 216, 184, 255)
}

.login-a-tag {
  padding-left: .4rem;
  font-weight: bold;
}

/* The media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .signup-container {
    padding-top: .3rem;
  }

  .form-signup {
    width: 65%;
  }

  .form-signup form input {
    margin: 0.4rem auto;
    font-size: .8rem;
    width: 100%;
  }

  .form-signup form button {
    width: 2rem;
    height: 2.5rem;
    width: 100%;
  }

  .form-signup form .password-toggle-btn {
    padding: .5em;
    margin: 1.2em 0;
    font-size: .8rem;
  }

  .signupPmLogo {
    width: 10rem;
  }

  .login-nav-link {
    font-size: .9rem;
    padding-top: 2rem;
  }
}