/* EditDog.css */

.form-edit {
  align-self: center;
  padding: 2rem;
  width: 40rem;
  margin: 4rem auto;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-edit h3 {
  text-align: center;
  font-weight: bold;
}

.form-edit form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.form-edit form input:valid {
  border: 1px solid black;
}

.form-edit form input[type="text"],
.form-edit form textarea {
  width: 28.5rem;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
}

.form-edit textarea {
  resize: none;
  min-height: 100px;
}

.form-edit .btn {
  width: 100%;
  padding: 0.6rem 1rem;
  background: silver;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.form-edit .btn:hover {
  background-color: tan;
}

.image-label {
  width: 100%;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f0f0f0;
}

.current-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0.3rem;
}
